<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% macro display(blog) %}
<div class="container-fluid">
  <div class="row">
    {% if blogs %}
    {% for blog in blogs %}
    <div class="col-md-4">
     
          <p class="m-0 p-0"><strong>{{blog.title}}</strong></p>
          <p class="m-0 p-0">{{blog.post}}</p><br>
          <div>
            
            <span class="pl-4"><a href="{{url_for('main.comment',blog_id = blog.id)}}" class="btn btn-outline-primary btn-sm"> Comment</a></span>
          </div><br>
        </div>
        <div class="card-footer text-muted">
          <p class="text-center p-0 m-0">Posted by: {{blog.user.username}} on {{blog.time.strftime('%Y-%m-%d')}}</p>
        </div>
      </div>
    </div>

    {% endfor %}
    {% else %}
    <div class="card">
      <div class="card-body">

        <p class="card-title">No blogs posted  </p>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endmacro %}